.banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  background: $primary;
  padding: 3rem 0;

  h1,
  h2 {
    color: white;
  }

  &--hero {
    height: 250px;


    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
