button.button {
  font-weight: 700;
  font-size: 24px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 12px 45px;
  -webkit-tap-highlight-color: transparent;

  &--primary {
    background: $primary;
    color: white;
    cursor: pointer;
  }
}
