#cookie-consent {
  a {
    text-decoration: none;
    color: $primary;
    font-weight: 700;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
  }

  &.hidden {
    display: none;
  }

  position: fixed;
  right: 32px;
  bottom: calc(32px + 240px);
  @media (min-width: 48em) {
    bottom: calc(32px + 110px);
  }
  background-color: white;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.25);

  .container {
    padding: 1.25rem;
    width: 300px;

    @media (min-width: 48em) {
      width: 500px;
    }
  }
}