.text-image {
  margin-bottom: 24px;
  &--content {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
  }

  &--text {
    padding: 1rem;
  }

  @media (min-width: 48em) {
    &--content {
      flex-direction: row;
    }

    &--image {
      height: 100%;
    }

    &--image,
    &--text {
      word-wrap: break-word;
      width: 50%;
    }
  }
}
