@import "normalize.css/normalize.css";
@import "./partials/colors.scss";
@import "./partials/typo.scss";
@import "./partials/media.scss";
@import "./partials/utilities.scss";
@import "./partials/main-navigation.scss";
@import "./partials/mobile-navigation.scss";
@import "./partials/banner.scss";
@import "./partials/button.scss";
@import "./partials/layout.scss";
@import "./partials/text-image.scss";
@import "./partials/footer.scss";
@import "./partials/impressum.scss";
@import "./partials/contact.scss";

body {
  margin-bottom: 75px;
}

* {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-position: inside;
}

li {
  margin-bottom: 4px;
}

html {
  font-size: 100%;
}

img {
  height: auto;
  width: 100%;
}
